*.i3
*.i3.gz
*.i3.bz2
*.py[cod]
*/test-data
*__pycache__*
*.ipynb_checkpoints
#.clsim-modifications/
examples/Utilities
examples/WaterOpticalModel
examples/Flasher
Isotropic/Utilities
Isotropic/Flasher
Isotropic/WaterOpticalModel
